<launch>

	<node pkg= "tf_object_detect" name="detect_ros" type="detect_ros.py"  output="screen" />
	<!-- rviz -->
    <arg name ="rviz" default="true" />
    <!-- <arg name ="rviz_file" default="$(find dn_object_detect)/config/yolo_disp.rviz"/> -->
	<node pkg ="rviz" type="rviz" name="rviz" output="screen" if="$(arg rviz)"/>
    <include file="$(find openni2_launch)/launch/openni2.launch"/>

</launch>

  